[submodule "cyber4dev-binda-api"]
        path = cyber4dev-binda-api
        url = git@gitlab.com:cyber4EDU/cyber4dev-binda-api.git
[submodule "cyber4dev-binda-webui"]
        path = cyber4dev-binda-webui
        url = git@gitlab.com:cyber4EDU/cyber4dev-binda-webui.git
